body{
    background-color: red;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar ul li{
    display: inline;
    padding: 20px;
}
.navbar i{
    display: none;

}
@media screen and (max-width:750px) {
    body{
        background-color: blue;
    }
    .navbar i {
        display: block;
    }
    .navbar ul{
        display: none;
    }
}